{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}

<div class="page-container">
    <h1>Profile</h1>
    {% if app.user.email is defined %}
        Email:
        {{ app.user.email }}
    {% endif %} <br/>
    {% if app.user.username is defined %}
        Username:
        {{ app.user.username }}
    {% endif %} <br/>
    {% if app.user.email is defined %}
        Password:
        {{ app.user.password }}
    {% endif %} <br/>
    {% if app.user.extraFields.userPassword is defined %}
        Password:
        {{ app.user.extraFields.userPassword }}
    {% endif %} <br/>
    {% if app.user.roles is defined %}
        Roles:
        {% for role in app.user.roles %}
            {{ role }}
        {% endfor %}
    {% endif %} <br/>
    <h5 style="color: #EC6666;">
        {% if app.user.email is defined %}
            (basic authentication)
        {% endif %}
        {% if app.user.username is defined %}
            (ldap authentication)
        {% endif %}
    </h5>
</div>
{% endblock %}
